<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Clear Buildings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngFor = "let room of rooms" class="gridContainer">
    <ion-row align-items-start>
      <ion-col>

        <button [style.background]="safeRoom(room.leftclear)"  (click)="clearRoom(room, 'left')" ion-button class="custom"> Room {{room.left}}
            <ion-icon *ngIf="room.leftclear" name="checkmark"></ion-icon>
            <ion-icon *ngIf="!(room.leftclear)" name="close"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
         <button [style.background]="safeRoom(room.rightclear)"  (click)="clearRoom(room, 'right')" ion-button class="custom">
              <ion-icon *ngIf="!(room.rightclear)" name="close"></ion-icon>
              <ion-icon *ngIf="room.rightclear" name="checkmark"></ion-icon>
              Room {{room.right}}

          </button>


      </ion-col>
    </ion-row>
    <div>
      <br>
    </div>
  </ion-grid>

</ion-content>
